// Шрифты
$primary-font-family: 'DM Sans', sans-serif;
$secondary-font-family: 'Titan One', cursive;

// цвет героя, фон ice cream и описания к секциям
$theme-color: #ffa5ba;
// фон для мобильного меню
$bg-mobile-menu: #e17992;
//  основной цвет текста
$text-primery: #907e82;
// вторичный цвет текста
$text-secondary: #ffffff;
// цвет текста описания
$text-third: #000000;
//   основной цвет фона
$bg-color-primery: #fff5f6;
//   цвет секции кофе, cafe
$bg-color-secondary: #f0d1a5;
//   цвет milkshakes,
$bg-color-third: #c2e297;
// цвет заголовка, цыфр, кнопок
$accent-color: #d41443;
