<section class="section contact">
    <div class="container locations">
        <h2 class="section__title--hidden">Our locations</h2>
        <ul class="contacts">
            <li class="contacts__list">
                <div class="contacts__type">
                    <p class="contacts__cafe">CAFE</p>
                </div>
                <div class="contacts__title">
                    <h3 class="contacts__city">Chicago</h3>
                    <p class="contacts__description">Fusce ut velit laoreet,<br class="tablet__hide"> tempus <br class="mobile__hide"> arcu molestie<br class="tablet__hide"> vulputate</p>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__schedule">
                    <p class="contacts__days">Monday-Friday</p><span class="contacts__time">06:00 AM - 10:00 PM</span>
                    <p class="contacts__days">Saturday-Sunday</p><span class="contacts__time">08:00 AM - 16:00 PM</span>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__detail">
                    <a class="contacts__tel" href="tel:+61(0) 383 766 284" >+61(0) 383 766 284</a>
                    <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>

            <li class="contacts__list">
                <div class="contacts__type">
                    <p class="contacts__foodtruck">FOODTRUCK</p>
                </div>
                <div class="contacts__title">
                    <h3 class="contacts__city">Los Angeles</h3>
                    <p class="contacts__description">Fusce ut velit laoreet,<br class="tablet__hide"> tempus <br class="mobile__hide"> arcu molestie<br class="tablet__hide"> vulputate</p>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__schedule">
                    <p class="contacts__days">Monday-Friday</p><span class="contacts__time">06:00 AM - 10:00 PM</span>
                    <p class="contacts__days">Saturday-Sunday</p><span class="contacts__time">08:00 AM - 16:00 PM</span>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__detail">
                    <a class="contacts__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
                    <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>

            <li class="contacts__list">
                <div class="contacts__type">
                    <p class="contacts__cafe">CAFE</p>
                </div>
                <div class="contacts__title">
                    <h3 class="contacts__city">New York</h3>
                    <p class="contacts__description">Fusce ut velit laoreet,<br class="tablet__hide"> tempus <br class="mobile__hide"> arcu molestie<br class="tablet__hide"> vulputate</p>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__schedule">
                    <p class="contacts__days">Monday-Friday</p><span class="contacts__time">06:00 AM - 10:00 PM</span>
                    <p class="contacts__days">Saturday-Sunday</p><span class="contacts__time">08:00 AM - 16:00 PM</span>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__detail">
                    <a class="contacts__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
                    <a class="contacts__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <div class="contacts__block" >
            <button type="button" class="contacts__button"><span class="contacts__span">Our Locations <svg class="contacts__icon" width="4" height="8"><use href="/images/icons/sprite.svg#icon-corner"></use></svg></span></button>
            <button type="button" class="contacts__button"><span class="contacts__span">Franchise <svg class="contacts__icon" width="4" height="8"><use href="/images/icons/sprite.svg#icon-corner"></use></svg></span></button>
        </div>
    </div>
</section>