<section class="section customer">
    <div class="container">
        <h1 hidden="">customer reviews</h1>
        <ul class="customer-reviews">
            <li class="customer__item">
                <div class="customer__thumb">
                    <img src="./images/customers/customer1.png" alt="author">
                </div>
                <div class="customer__content icon-quotes">
                    <!-- <div class="gradient"> -->
                    <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                    <!-- </div> -->
                </div>
            </li>
        </ul>
        <ul class="customer__slider">
            <li class="slider__item icon-slider"></li>
            <li class="slider__item icon-slider"></li>
            <li class="slider__item icon-slider"></li>
        </ul>

        <h2 class="customer__title">Emily, Los Angeles</h2>


        <ul class="customer__marker">
            <li class="marker__item icon-home"></li>
            <li class="marker__item icon-marker"></li>
            <li class="marker__item icon-marker"></li>
        </ul>

    </div>
</section>

