<footer class="foot">
    <section class="conteiner">
        <div class="foot-title">
         <h3 class="foot-title__sabtitle">homemade ice cream made</h3>
         <h2 class="foot-title__basik">with passion</h2>
        </div>
        <div class="foot-social">
            <ul class="foot-social__list">
                <li class="foot-social__item">
                <a title="github" href="https://github.com" class="foot-social__link">
                    <svg class="foot-social__svg"width="32px" height="32px">
                        <use href="./images/icons/sprite.svg#icon-github"></use>
                    </svg>
                </a></li>
                <li class="foot-social__item">
                <a title="telegram"href="#" class="foot-social__link">
                    <svg class="foot-social__svg"  width="32px" height="32px">
                    <use href="./images/icons/sprite.svg#icon-telegram"></use>
                </svg></a></li>
                <li class="foot-social__item">
                <a title="facebook" href="#" class="foot-social__link">
                    <svg class="foot-social__svg"width="32px" height="32px">
                    <use href="./images/icons/sprite.svg#icon-facebook"></use>
                </svg></a></li>
                </ul>
                 <span class="foot-social__phone--black">Feel free to contact</span>
                 <a title="phone" href="+61(0)383766284" class="foot-social__phone">
                    +61 (0) 383 766 284</a>
        </div>
         <b class="foot__text">&copy; 2019 - IceCream. All Rights Reserved.</b>
    </section>

</footer>
    
    
    