<footer class="footer section">
    <div class="container wrapper">
        <div class="footer__set">
         <p class="section__subtitle">homemade ice cream made</p>
         <p class="section__title">with passion</p>
        </div>
        <div class="footer-social">
            <ul class="footer-social__list">
                <li class="footer-social__item">
                <a title="github" href="https://github.com" class="footer-social__link">
                    <svg class="footer-social__svg"width="32px" height="32px">
                        <use href="./images/icons/sprite.svg#icon-github"></use>
                    </svg>
                </a></li>
                <li class="footer-social__item">
                <a title="telegram"href="https://web.telegram.org" class="footer-social__link">
                    <svg class="footer-social__svg"  width="32px" height="32px">
                    <use href="./images/icons/sprite.svg#icon-telegram"></use>
                </svg></a></li>
                <li class="footer-social__item">
                <a title="facebook" href="https://facebook.com" class="footer-social__link">
                    <svg class="footer-social__svg"width="32px" height="32px">
                    <use href="./images/icons/sprite.svg#icon-facebook"></use>
                </svg></a></li>
                </ul>
                 <span class="footer-social__phone--black">Feel free to contact</span>
                 <a title="phone" href="tel:+61(0)383766284" class="footer-social__phone">
                    +61 (0) 383 766 284</a>
       </div>  
    </div>
    <div class="footer-copyright">
         <p class="footer-copyright__text">&copy; 2019 - IceCream.</p>
         <p class="footer-copyright__text">All Rights Reserved.</p>
    </div>

</footer>
    
    
    