<section class="section gallery">
  <div class="container">
    <h1 class="gallery__title">Gallery</h1>

    <div class="gallery-container">
      <div class="gallery-container__grid">
        <picture class="gallery-container__grid-item">
          <source srcset="./images/gallery/1.png 1x, ./images/gallery/1@2x.png 2x" />
          <img src="./images/gallery/1.png" alt="Green ice cream" />
        </picture>
      </div>

      <div class="gallery-container__grid">
        <picture class="gallery-container__grid-item">
          <source srcset="./images/gallery/2.png 1x, ./images/gallery/2@2x.png 2x" />
          <img src="./images/gallery/2.png" alt="Ice cream in the hand" />
        </picture>

        <picture class="gallery-container__grid-item">
          <source srcset="./images/gallery/3.png 1x, ./images/gallery/3@2x.png 2x" />
          <img src="./images/gallery/3.png" alt="Ice cream with raspberries" />
        </picture>
      </div>

      <div class="gallery-container__grid gallery-container__grid--3">
        <picture class="gallery-container__grid-item gallery-container__grid-item--4">
          <source srcset="./images/gallery/4.png 1x, ./images/gallery/4@2x.png 2x" />
          <img
            class="gallery-container__grid-item--4"
            src="./images/gallery/4.png"
            alt="Ice cream with currants"
          />
        </picture>

        <picture class="gallery-container__grid-item gallery-container__grid-item--5">
          <source srcset="./images/gallery/5.png 1x, ./images/gallery/5@2x.png 2x" />
          <img
            src="./images/gallery/5.png"
            alt="Girl with ice
          cream"
          />
        </picture>
      </div>

      <div class="gallery-container__grid">
        <picture class="gallery-container__grid-item">
          <source srcset="./images/gallery/6.png 1x, ./images/gallery/6@2x.png 2x" />
          <img src="./images/gallery/6.png" alt="Ice cream in a bowl" />
        </picture>

        <picture class="gallery-container__grid-item">
          <source srcset="./images/gallery/7.png 1x, ./images/gallery/7@2x.png 2x" />
          <img
            src="./images/gallery/7.png"
            alt="Ice 
      cream in the street"
          />
        </picture>
      </div>

      <div class="gallery-container__grid gallery-container__grid--5">
        <picture class="gallery-container__grid-item gallery-container__grid-item--8">
          <source srcset="./images/gallery/8.png 1x, ./images/gallery/8@2x.png 2x" />
          <img src="./images/gallery/8.png" alt="Dog and ice cream" />
        </picture>

        <picture class="gallery-container__grid-item">
          <source srcset="./images/gallery/9.png 1x, ./images/gallery/9@2x.png 2x" />
          <img src="./images/gallery/9.png" alt="Ice coffee" />
        </picture>
      </div>

      <div class="gallery-container__grid">
        <picture class="gallery-container__grid-item">
          <source srcset="./images/gallery/10.png 1x, ./images/gallery/10@2x.png 2x" />
          <img src="./images/gallery/10.png" alt="Ice cream in the hand" />
        </picture>
      </div>
    </div>
  </div>
</section>
