<section class="section gallery">
  <div class="container">
    <h1 class="section__title--hidden">Gallery</h1>

    <div class="gallery-container">
      <div class="gallery-container__grid">
        <img
          class="gallery-container__grid-item"
          src="./images/gallery/1.png"
          alt="Green ice cream"
        />
      </div>

      <div class="gallery-container__grid">
        <img
          class="gallery-container__grid-item"
          src="./images/gallery/2.png"
          alt="Ice cream in the hand"
        />
        <img
          class="gallery-container__grid-item"
          src="./images/gallery/3.png"
          alt="Ice cream with raspberries"
        />
      </div>

      <div class="gallery-container__grid gallery-container__grid--3">
        <img
          class="gallery-container__grid-item gallery-container__grid-item--4"
          src="./images/gallery/4.png"
          alt="Ice cream with currants"
        />
        <img
          class="gallery-container__grid-item gallery-container__grid-item--5"
          src="./images/gallery/5.png"
          alt="Girl with ice cream"
        />
      </div>

      <div class="gallery-container__grid">
        <img
          class="gallery-container__grid-item"
          src="./images/gallery/6.png"
          alt="Ice cream in a bowl"
        />
        <img
          class="gallery-container__grid-item"
          src="./images/gallery/7.png"
          alt="Ice 
      cream in the street"
        />
      </div>

      <div class="gallery-container__grid gallery-container__grid--5">
        <img
          class="gallery-container__grid-item"
          src="./images/gallery/8.png"
          alt="Dog and ice cream"
        />
        <img class="gallery-container__grid-item" src="./images/gallery/9.png" alt="Ice coffee" />
      </div>

      <div class="gallery-container__grid">
        <img
          class="gallery-container__grid-item"
          src="./images/gallery/10.png"
          alt="Ice cream in the hand"
        />
      </div>
    </div>
  </div>
</section>
