<section class="hero-header">
 <a name="hero-header"></a>
 <div class="container">

  <header class="header">

   <!-- Логотип -->
   <div class="header__position-logo">
    <a href="./index.html" class="logo">
     <img srcset="./images/hero/logo.png 1x, ./images/hero/logo@2x.png 2x" src="./images/hero/logo.png" alt="logo">
    </a>
   </div>

   <div class="header__box">
    <!-- Навигация -->
    <nav>
     <ul class="header__nav">
      <li><a class="nav__link nav__link--current" href="#hero-header">Home</a></li>
      <li><a class="nav__link" href="#customer-reviews">About us</a></li>
      <li><a class="nav__link" href="#about">How it&#x000B4;s made?</a></li>
      <li><a class="nav__link" href="#products">Our products</a></li>
      <li><a class="nav__link" href="#contacts">Contact</a></li>
     </ul>
    </nav>

    <!-- Бургер для мобильного меню (работает с помошюью скрипта "menu.js")-->
    <button type="button" class="menu__burger" aria-expanded="false" aria-controls="menu__container" data-menu-open>
     <svg width="40" height="40" aria-label="Кнопка включения мобильного меню">
      <use class="burger__menu" href="./images/icons/sprite.svg#icon-burger-menu"></use>
     </svg>
    </button>

    <!-- Кнопка купить в хедере -->
    <button type="button" class="menu__button" id="menu__container">Buy now
     <svg width="6" height="10" class="button__icon-corner">
      <use href="./images/icons/sprite.svg#icon-corner"></use>
     </svg>
    </button>
   </div>

  </header>



  <!-- Герой -->
  <section class="hero">

   <div class="hero__box">
    <h1 class="hero__text">ice cream<br>made with<br><span class="red-big-text">passion</span></h1>
    <button type="button" class="button hero__button--red"><a href="#products">Products</a></button>
    <button type="button" class="button hero__button--white"><a href="#about">How it&#x000B4;s made?</a></button>
   </div>

   <div class="hero__advantages">
    <div class="advantages__box">
     <p class="number">16</p>
     <p class="description">cafes</p>
    </div>
    <div class="advantages__box">
     <p class="number">23</p>
     <p class="description">food trucks</p>
    </div>
   </div>

  </section>



  <!-- <img class="hero__girl" 
	srcset="./images/hero/tasty-desktop.png 1x, ./images/hero/tasty-desktop@2x.png 2x"
	src="./images/hero/tasty-desktop.png" alt="Девушка ест мороженное"> -->

  <img class="hero__girl" srcset="./images/hero/tasty-tablet-168.png 168w, ./images/hero/tasty-desktop-293.png 293w"
   sizes="(min-width: 1280px) 293px, (min-width: 768px) 168px" src="./images/hero/tasty-desktop.png"
   alt="Девушка ест мороженное">


  <!-- Молоко и текст бокс -->
  <div class="hero__milk-box">

   <!-- <img class="milk-box__milk" 
		srcset="./images/hero/milk-desktop.png 1x, ./images/hero/milk-desktop@2x.png 2x"
		src="./images/hero/milk-desktop.png" alt="Кувшин с молоком"> -->

   <img class="milk-box__milk" srcset="./images/hero/milk-tablet-124.png 124w, ./images/hero/milk-desktop-188.png 188w"
    sizes="(min-width: 1280px) 188px, (min-width: 768px) 124px" src="./images/hero/milk-desktop.png"
    alt="Кувшин с молоком">

   <div class="milk-box__box">
    <p class="milk-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
     incididunt ut labore et</p>
    <button type="button" class="milk-box__button">
     <svg class="milk-box__arrow" aria-label="Читать далее">
      <use href="./images/icons/sprite.svg#icon-arrow"></use>
     </svg>
    </button>
   </div>
  </div>



  <!-- (работает с помошюью скрипта "menu.js") -->
  <div class="menu__backdrop" data-menu>

   <div class="menu__container" id="menu-container">

    <button type="button" class="menu__close" data-menu-close>
     <svg width="40" height="40" aria-label="Кнопка выключения мобильного меню">
      <use class="burger__close" href="./images/icons/sprite.svg#icon-burger-close"></use>
     </svg>
    </button>

    <button type="button" class="menu__button--menu">Buy now
     <svg width="6" height="10" class="button__icon-corner">
      <use href="./images/icons/sprite.svg#icon-corner"></use>
     </svg>
    </button>

    <nav>
     <ul class="header__nav--menu">
      <li><a class="nav__link nav__link--current" href="#hero-header">Home</a></li>
      <li><a class="nav__link" href="#customer-reviews">About us</a></li>
      <li><a class="nav__link" href="#about">How it&#x000B4;s made?</a></li>
      <li><a class="nav__link" href="#products">Our products</a></li>
      <li><a class="nav__link" href="#contacts">Contact</a></li>
     </ul>
    </nav>
   </div>


  </div>


 </div>
</section>