<section class="hero-header">
 <div class="container">
  <header class="header">
   <a href="./index.html" class="logo"><img src="" alt="logo"></a>
   <nav>
    <ul class="header-menu">
     <li><a class="header-menu__link header-menu__link--current" href="./index.html">Home</a></li>
     <li><a class="header-menu__link" href="/">About us</a></li>
     <li><a class="header-menu__link" href="/">How it&#x000B4;s made?</a></li>
     <li><a class="header-menu__link" href="/">Our products</a></li>
     <li><a class="header-menu__link" href="/">Contact</a></li>
    </ul>
   </nav>
   <button tupe="button" class="сall-to-action">Buy now</button>
  </header>

 </div>
</section>