<section class="products section">
    <div class="container">

        <p class="products__label">100% NATURAL</p>
        <h2 class="products__header">
            PRODUCTS
        </h2>

        <ul class="products__list">

            <li class="products__item ice-cream">
                <img class="products__img"
                    srcset="./images/products/icecream-desktop.png 1x, ./images/products/icecream-desktop@2x.png 2x "
                    src="./images/products/icecream-desktop.png" alt="">
                <h3 class="products__title">
                    ICE CREAM
                </h3>
                <p class="products__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et
                </p>
                <button class="products__btn" type="button">
                    <svg width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="m1 1 4 4-4 4" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </li>

            <li class="products__item ice-coffee">
                <img class="products__img"
                    srcset="./images/products/coffee-desktop.png 1x, ./images/products/coffee-desktop@2x.png 2x"
                    src="./images/products/coffee-desktop.png" alt="">
                <h3 class="products__title">
                    ICE COFFEE
                </h3>
                <p class="products__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et
                </p>
                <button class="products__btn" type="button">
                    <svg width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="m1 1 4 4-4 4" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </li>

            <li class="products__item milkshakes">
                <img class="products__img"
                    srcset="./images/products/milkshake-desktop.png 1x, ./images/products/milkshake-desktop@2x.png 2x"
                    src="./images/products/milkshake-desktop.png" alt="">
                <h3 class="products__title">
                    MILKSHAKES
                </h3>
                <p class="products__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et.
                </p>
                <button class="products__btn" type="button">
                    <svg width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="m1 1 4 4-4 4" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    
</section>