.advantages__title {
  @include visually-hidden();
}
.advantages {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $section-bg-primary;
}

.advantages__list {
  text-align: left;

  @media screen and (max-width: 767px) {
    margin-bottom: -38px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    padding-right: 38px;
  }
  @media screen and (min-width: $desktop) {
    padding-right: 0;
  }
}

.advantages__item {
  text-align: left;

  @media screen and (max-width: 767px) {
    max-width: 230px;
    margin-bottom: 38px;
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 60px;
    }
    flex-basis: calc((100% - 2 * 60px) / 3);
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}

.advantages__item {
  &:first-child::before {
    content: url('../images/advantages/icon-milk.png');
  }
  &:nth-child(2)::before {
    content: url('../images/advantages/icon-fruit.png');
  }
  &:last-child::before {
    content: url('../images/advantages/icon-caramel.png');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    &:first-child::before {
      content: '';
      display: block;
      width: 33px;
      height: 50px;
      background-size: contain;
      background-image: url('../images/advantages/icon-milk@2x.png');
    }
    &:nth-child(2)::before {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      background-size: contain;
      background-image: url('../images/advantages/icon-fruit@2x.png');
    }
    &:last-child::before {
      content: '';
      display: block;
      width: 44px;
      height: 50px;
      background-size: contain;
      background-image: url('../images/advantages/icon-caramel@2x.png');
    }
  }
}

.advantages__quantity {
  font-family: $secondary-font-family;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-color;
  margin-top: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
    margin-top: 36px;
    margin-bottom: 13px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 58px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
}

.advantages__description {
  font-family: $primary-font-family;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: $font-color;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}
