.products {
  background-color: $primary-white-color;
}

.products__label {
  @include label;
  margin-bottom: 15px;
  text-align: center;
}

.products__title {
  @include title-secondary;
  text-align: center;

  @media screen and(max-width: 767px) {
    margin-bottom: 144px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 259px;
  }
}

.products__list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.products__item {
  position: relative;
  border-radius: 24px;
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    padding: 161px 53px 41px 53px;
    width: 280px;
    height: 485px;
    &:not(:last-child) {
      margin-bottom: 132px;
    }
  }
  @media screen and (min-width: $tablet) {
    justify-content: center;
    &:not(:last-child) {
      margin-right: 20px;
    }
    width: 220px;
    height: 485px;
    padding: 152px 11px 40px 10px;
  }
  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 29px;
    }
    width: 329px;
    height: 525px;
    padding: 163px 44px 50px 44px;
  }
}
.products__item {
  &:first-child::before {
    background-image: url(../images/products/icecream-desktop.png);
    display: block;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    content: '';
    @media screen and (max-width: 767px) {
      top: -130px;
      width: 249px;
      height: 252px;
    }
    @media screen and (min-width: $tablet) {
      top: -130px;
      width: 220px;
      height: 224px;
    }
    @media screen and (min-width: $desktop) {
      top: -220px;
      width: 335px;
      height: 335px;
    }
  }
  &:nth-child(2)::before {
    content: '';
    background-image: url(../images/products/coffee-desktop.png);
    display: block;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and (max-width: 767px) {
      top: -130px;
      width: 249px;
      height: 252px;
    }
    @media screen and (min-width: $tablet) {
      top: -130px;
      width: 220px;
      height: 224px;
    }
    @media screen and (min-width: $desktop) {
      top: -220px;
      width: 335px;
      height: 335px;
    }
  }
  &:last-child::before {
    content: '';
    background-image: url(../images/products/milkshake-desktop.png);
    display: block;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    @media screen and (max-width: 767px) {
      top: -130px;
      width: 249px;
      height: 252px;
    }
    @media screen and (min-width: $tablet) {
      top: -130px;
      width: 220px;
      height: 224px;
    }
    @media screen and (min-width: $desktop) {
      top: -220px;
      width: 335px;
      height: 335px;
    }
  }
}

.products__title-item {
  position: relative;
  @media screen and (max-width: 1279px) {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 1.15;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 34px;
  }
  font-family: $secondary-font-family;
  color: $text-secondary;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.products__item::after {
  content: '';
  background-image: url(../images/products/circle.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

  width: 26px;
  height: 6px;
  left: 50%;
  transform: translate(-50%, 0);
  @media screen and(max-width:767px) {
    top: 214px;
  }
  @media screen and (min-width: $tablet) {
    top: 209px;
  }
  @media screen and (min-width: $desktop) {
    top: 229px;
  }
}

.products__text {
  @media screen and(max-width:767px) {
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 152%;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 176%;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 28px;
  }

  color: $text-secondary;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.04em;
}

.products__btn {
  fill: $event-btn-secondary;
  background-color: $primary-white-color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: block;
  margin: 0 auto;
}
.ice-cream {
  background-color: $bg-color-first;
}
.ice-coffee {
  background-color: $bg-color-second;
}
.milkshakes {
  background-color: $bg-color-third;
}
